@import "base/reset.css";
@import "base/variables.css";
@import "layout/app-layout.css";
@import "components/editable-list.css";
@import "components/commitment-list.css";
@import "components/development-table.css";

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-sans);
    font-size: var(--text-base);
}

.flowlogo{
    display: flex;
}
