@import "base/reset.css";
@import "base/variables.css";
@import "layout/app-layout.css";
@import "components/editable-list.css";
@import "components/commitment-list.css";
@import "components/development-table.css";
@import "components/text-section.css";
@import "components/link-list.css";
@import "components/confirm-dialog.css";
@import "layout/view.css";
@import "components/meeting-lifecycle.css";
@import "components/timer.css";
@import "components/history-view.css";
@import "components/archive-view.css";

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-sans);
    font-size: var(--text-base);
}

.flowlogo{
    display: flex;
}
